* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.3em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width:1360px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

/* BARLOW FONTS */

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Black.woff2') format('woff2'),
        url('../fonts/Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
        url('../fonts/Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-BlackItalic.woff2') format('woff2'),
        url('../fonts/Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-BoldItalic.woff2') format('woff2'),
        url('../fonts/Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Italic.woff2') format('woff2'),
        url('../fonts/Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraBold.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-LightItalic.woff2') format('woff2'),
        url('../fonts/Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-MediumItalic.woff2') format('woff2'),
        url('../fonts/Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
        url('../fonts/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
        url('../fonts/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraLight.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Light.woff2') format('woff2'),
        url('../fonts/Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Thin.woff2') format('woff2'),
        url('../fonts/Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ThinItalic.woff2') format('woff2'),
        url('../fonts/Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* INTER FONTS */

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Italic.woff2') format('woff2'),
        url('../fonts/Inter28pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Italic.woff2') format('woff2'),
        url('../fonts/Inter18pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Italic.woff2') format('woff2'),
        url('../fonts/Inter24pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Black.woff2') format('woff2'),
        url('../fonts/Inter18pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Light.woff2') format('woff2'),
        url('../fonts/Inter18pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Black.woff2') format('woff2'),
        url('../fonts/Inter24pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter24pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Light.woff2') format('woff2'),
        url('../fonts/Inter24pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter24pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Black.woff2') format('woff2'),
        url('../fonts/Inter28pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Light.woff2') format('woff2'),
        url('../fonts/Inter28pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter28pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter28pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter28pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter18pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



#notification{
    background: #634C9F;
    height: 41px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification .notify{
    display: flex;
    gap: 172px;
    align-items: center;
}
#notification .notify span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#notification .notify span div{
    display: flex;
    align-items: center;
    gap: 8%;
}
#notification .notify h6.h6{
    font-size: 12px;
    font-weight: 600;
    font-family: "Inter 28pt";
    color: #FFFFFF;
}
#notification .notify span h6.one{
    font-size: 12px;
    font-family: "Inter 18pt";
    color: #FFFFFF;
    opacity: 70%;
}
#notification .notify span div h5{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    font-family: "Inter 18pt";
}
#notification .notify span div h6{
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    opacity: 70%;
    font-family: "Inter 18pt";
}

#head{
    height: 41px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E7EB;
}
/* #head .wrapper{

} */
#head .wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head .wrapper header div{
    display: flex;
    gap: 20px;
}
/* #head .wrapper header nav{

}
#head .wrapper header div{
    
} */
#head .wrapper header div div{
    position: relative;
    border-left: 1px solid #E5E7EB;
}
#head .wrapper header div div h5{
    padding-left: 20px;
    color: #6B7280;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter 18pt";
}
#head .wrapper header div div h5 span{
    color: #EA580C;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter 18pt";
}
#head .wrapper header item{
    display: flex;
    gap: 14px;
}
#head .wrapper header item a{
    display: flex;
    justify-content: space-between;
}
#head .wrapper header item a h5{
    color: #6B7280;
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter 18pt";
}
#head .wrapper header nav item a{
    gap: 5px;
}
#head .wrapper header nav item a i{
    color: #6B7280;
    top: 8px;
    position: relative;
}

#head2{
    height: 81px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E7EB;
}
#head2 .wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head2 .wrapper header div a .dt{
    font-size: 11px;
    font-weight: 400;
    font-family: "Inter 18pt";
    color: #030712;
    opacity: 70%;
}
#head2 .wrapper header div a .all{
    font-size: 13px;
    font-weight: 500;
    font-family: "Inter 18pt";
    color: #030712;
}
#head2 .wrapper header .hd2-div4 form{
    display: flex;
    align-items: center;
}
#head2 .wrapper header .hd2-div4 form input{
    background-color: #F3F4F6;
    height: 45px;
    width: 863px;
    padding: 8px 54px 8px 17px;
    border-radius: 8px;
}
#head2 .wrapper header .hd2-div4 form input::placeholder{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
}
#head2 .wrapper header .hd2-div4 form div{
    align-items: center;
    display: flex;
}
#head2 .wrapper header .hd2-div4 form div img{
    position: relative;
    right: 40px;
    margin-right: -22px;
}
#head2 .wrapper header .hd2-div5 {
    display: flex;
    gap: 20px;
    top: 4px;
    position: relative;
}
#head2 .wrapper header .hd2-div5 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#head2 .wrapper header .hd2-div5 a h5 {
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter 18pt";
    color: #030712;
}
#head2 .wrapper header .hd2-div5 a .icon-wrapper {
    position: relative;
}
#head2 .wrapper header .hd2-div5 a .icon-wrapper img {
    width: 19px;
    height: 21px;
}
#head2 .wrapper header .hd2-div5 a:last-child .icon-wrapper img {
    width: 19px;
    height: 21px;
}
#head2 .wrapper header .hd2-div5 a:first-child .icon-wrapper span{
    display: none;
}
#head2 .wrapper header .hd2-div5 a .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
}

#head3{
    height: 41px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E7EB;
}
#head3 .wrapper header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
#head3 .wrapper header div{
    display: flex;
    gap: 20px;
}
#head3 .wrapper header div nav{
    display: flex;
    position: absolute;
    align-items: center;
}
#head3 .wrapper header item{
    display: flex;
    gap: 26px;
}
#head3 .wrapper header item a{
    display: flex;
    justify-content: space-between;
}
#head3 .wrapper header item a h5{
    color: #030712;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter 18pt";
}
#head3 .wrapper header nav item a{
    gap: 5px;
}
#head3 .wrapper header nav item a i{
    color: #030712;
    top: 8px;
    position: relative;
}
#head3 .wrapper header nav item a h5.red{
    color: #DC2626;
}
#head3 .wrapper header nav item a:last-child i{
    color: #DC2626;
}
#head3 .wrapper header nav item a span{
    width: 37px;
    height: 20px;border-radius: 4px;
    background: linear-gradient(90deg, #DC2626 0%, #EA580C 100%);
    font-size: 10px;
    font-weight: 700;
    font-family: "Inter 18pt";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
#head3 .wrapper header div nav .spcl .nav-link.active{
    border-bottom: 2px solid #634C9F;
    padding-bottom: 12px;
    position: relative;
}
#head3 .wrapper header div nav .spcl a.active h5{
    color: #634C9F;
}
#head3 .wrapper header div nav .spcl a.active i{
    color: #634C9F;
}


#main{
    padding-top: 20px;
}
#main .wrapper div.none{
    display: none;
}
/* #main .wrapper div.menu-icon{
    display: flex;
    position: static;
    height: 38px;
    width: 69px;
    border-radius: 8px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
} */
#main .wrapper .gateway{
    display: flex;
    gap: 10px;
}
#main .wrapper .gateway h4{
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter 18pt";
    color: #9CA3AF;
}
#main .wrapper .gateway h4:last-child{
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter 18pt";
    color: #030712;
}
#main .wrapper .centre{
    display: flex;
}
#main .wrapper .centre .main1{
    width: 259px;
    height: 907px;
    top: 26px;
    position: relative;
}
#main .wrapper .centre .main-top{
    width: 259px;
    height: 203px;
    border-bottom: 1px solid #E5E7EB;
}
#main .wrapper .centre .main-top span{
    /* position: absolute; */
}
#main .wrapper .centre .main-top span h4{
    font-size: 14px;
    color: #030712;
    font-weight: 600;
    font-family: "Inter 18pt";
}
#main .wrapper .centre .main-top .price-range{
    top: 20px;
    display: flex;
    position: relative;
    gap: 11px;
    align-items: center;
}
#main .wrapper .centre .main-top .price-range div{
    gap: 5px;
    display: grid;
}
#main .wrapper .centre .main-top .price-range div.hyfon{
    position: relative;
    top: 8px;
}
#main .wrapper .centre .main-top .price-range div h5{
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
    font-family: "Inter 18pt";
}
#main .wrapper .centre .main-top .price-range div input{
    height: 38px;
    width: 116px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    padding: 4px 10px 4px 10px;
}
/* #main .wrapper .centre .main-top .price-line{
    position: relative;
    display: flex;
    top: 38px;
    align-items: center;
    
}
#main .wrapper .centre .main-top .price-line .line{
    height: 3px;
    width: 259px;
    border-radius: 10px;
    background-color: #111827;
}
#main .wrapper .centre .main-top .price-line .circle{
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background-color: #111827;
    position: relative;
} */


.price-line .rangeInput {
    position: relative;
    top: 24px;
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.price-line .rangeInput .input-slider-right[type="range"],
.price-line .rangeInput .input-slider-left[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #030712;
    height: 4px;
    border-radius: 4px;
}
  
.price-line .rangeInput .input-slider-left[type="range"] {
    margin-left: -4px;
}
  
.price-line .rangeInput .input-slider-right[type="range"]::-webkit-slider-thumb,
.price-line .rangeInput .input-slider-left[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}
  





#main .wrapper .centre .main-top .filter{
    top: 52px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main .wrapper .centre .main-top .filter h5{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter 18pt";
    color: #030712;
}
#main .wrapper .centre .main-top .filter a{
    position: static;
    height: 38px;
    width: 69px;
    border-radius: 8px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}
#main .wrapper .centre .main-centre {
    width: 259px;
    height: 358px;
    top: 22px;
    position: relative;
    border-bottom: 1px solid #E5E7EB;
}
#main .wrapper .centre .main-centre span h4{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 600;
    color: #030712;
}
#main .wrapper .centre .main-centre .mc-m{
    position: relative;
    top: 22px;
    display: grid;
    gap: 10px;
}
#main .wrapper .centre .main-centre .mc-m div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main .wrapper .centre .main-centre .mc-m div .select{
    gap: 8px;
}
#main .wrapper .centre .main-centre .mc-m div .select h5{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 500;
    color: #030712;
}
#main .wrapper .centre .main-centre .mc-m div a{
    display: flex;
    align-items: center;
}
#main .wrapper .centre .main-centre .mc-m div .category-checkbox{
    width: 16px;
    height: 16px;
}
#main .wrapper .centre .main-centre .mc-m div .category-checkbox:checked{
    accent-color: #634C9F;
}
#main .wrapper .centre .main-centre .mc-m div .category-checkbox:checked + h5{
    color: #634C9F;
}
#main .wrapper .centre .main-centre1{
    width: 259px;
    height: 85px;
    top: 44px;
    position: relative;
    border-bottom: 1px solid #E5E7EB;
}
#main .wrapper .centre .main-centre1 span h4{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 600;
    color: #030712;
}
#main .wrapper .centre .main-centre1 .mc1{
    position: relative;
    top: 22px;
}
#main .wrapper .centre .main-centre1 .mc1 div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main .wrapper .centre .main-centre1 .mc1 div .color{
    gap: 8px;
    display: flex;
    align-items: center;
}
#main .wrapper .centre .main-centre1 .mc1 div .color .green{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #81D742;
}
#main .wrapper .centre .main-centre1 .mc1 .color h5{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 500;
    color: #030712;
}
#main .wrapper .centre .main-centre1 .mc1 div h6{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;
}


#main .wrapper .centre .main-centre2{
    width: 259px;
    height: 85px;
    top: 66px;
    position: relative;
    border-bottom: 1px solid #E5E7EB;
}
#main .wrapper .centre .main-centre2 span h4{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 600;
    color: #030712;
}
#main .wrapper .centre .main-centre2 .mc2{
    position: relative;
    top: 22px;
}
#main .wrapper .centre .main-centre2 .mc2 div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main .wrapper .centre .main-centre2 .mc2 div .brand{
    gap: 8px;
}
#main .wrapper .centre .main-centre2 .mc2 div .brand h5{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 500;
    color: #030712;
}
#main .wrapper .centre .main-centre2 .mc2 div h6{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;
}
#main .wrapper .centre .main-centre2 .mc2 div .brand-checkbox{
    width: 16px;
    height: 16px;
}
#main .wrapper .centre .main-centre2 .mc2 div .brand-checkbox:checked{
    accent-color: #634C9F;
}
#main .wrapper .centre .main-centre2 .mc2 div .brand-checkbox:checked + h5{
    color: #634C9F;
}

#main .wrapper .centre .main-centre3{
    width: 259px;
    height: 85px;
    top: 88px;
    position: relative;
}
#main .wrapper .centre .main-centre3 span h4{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 600;
    color: #030712;
}
#main .wrapper .centre .main-centre3 .mc3{
    position: relative;
    top: 22px;
    display: grid;
    gap: 10px;
}
#main .wrapper .centre .main-centre3 .mc3 div{
    display: flex;
    align-items: center;
}
#main .wrapper .centre .main-centre3 .mc3 div .product{
    gap: 8px;
}
#main .wrapper .centre .main-centre3 .mc3 div .product h5{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 500;
    color: #030712;
}
#main .wrapper .centre .main-centre3 .mc3 div .product-checkbox{
    width: 16px;
    height: 16px;
}
#main .wrapper .centre .main-centre3 .mc3 div .product-checkbox:checked{
    accent-color: #634C9F;
}
#main .wrapper .centre .main-centre3 .mc3 div .product-checkbox:checked + h5{
    color: #634C9F;
}



.main2 {
    /* text-align: center; */
    padding: 28px 6px 6px 10px;
    left: 44px;
    position: relative;
    /* height: 1870px; */
}
.main2 .select{
    display: flex;
    gap: 10px;
    width: 240px;
    position: relative;
}
.main2 .select div{
    display: flex;
    gap: 3px;
}
.main2 .select div a{
    align-items: center;
    display: flex;
}
.main2 .select div h6{
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter 18pt";
    color: #555555;
}
.banner{
    background-image: url('../images/banner.png');
    height: 276px;
    width: 1012px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 6px;
    top: 22px;
    /* align-items: center;
    display: flex; */
    padding: 35px 610px 35px 30px;
}

.main2 .banner div{
    left: 30px;
    position: relative;
    /* gap: 7px;
    display: grid; */
}
.main2 .banner div span{
    position: relative;
    display: flex;
    width: 85.27px;
    height: 22px;
    border-radius: 30px;
    background: #FFEDD5;
    align-items: center;
    justify-content: center;
}
.main2 .banner div span h6{
    font-family: "Inter 18pt";
    font-size: 10px;
    font-weight: 600;
    color: #7C2D12;
}
.main2 .banner div a img{
    position: relative;
    width: 14px;
    height: 14px;
}
.main2 .banner div h2{
    position: relative;
    top: 12px;
    font-family: "Inter 24pt";
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    letter-spacing: -1.2000000476837158px;
    color: #111827;
}
.main2 .banner div p{
    position: relative;
    top: 20px;
    font-family: "Inter 18pt";
    font-size: 13px;
    font-weight: 400;
    line-height: 19.51px;
    letter-spacing: -0.3199999928474426px;
    color: #6B7280;
}
.main2 .banner div a{
    position: relative;
    top: 43px;
    width: 108.98px;
    height: 34px;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid #E5E7EB;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main2 .banner div a h5{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 700;
    color: #212529;
}

.result{
    position: relative;
    top: 32px;
    width: 1012px;
    height: 50px;
    border-radius: 6px;
    background-color: #F3F4F6;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 15px 0 15px;
}
.result .show-result1 h6{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
}
.result .show-result2{
    display: flex;
    width: 401px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
.result .show-result2 div{
    display: flex;
    gap: 5px;
}
.result .show-result2 div div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.result .show-result2 div div:first-child{
    width: 189px;
}
.result .show-result2 div div h6{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 500;
    color: #9CA3AF;
}
.result .show-result2 div div h5{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 500;
    color: #020617;
}
.result .show-result2 div div:last-child{
    padding: 0 0 0 10px;
    border-left: 1px solid #D1D5DB;
}

.result .show-result2 div a:first-child{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #D1D5DB;
    align-items: center;
    justify-content: center;
    display: flex;
}
.result .show-result2 div a:last-child{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    width: 1012px;
    top: 42px;
    position: relative;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
}

.product-card {
    background-color: #fff;
    /* margin: 10px; */
    padding: 18px 6px 18px 6px;
    border-bottom: 1px solid #E5E7EB;
    border-left: 1px solid #E5E7EB;
    /* border-radius: 8px; */
    width: 202px;
    height: 353px;
    /* text-align: center; */
    /* border-width: 0px, 0px, 1px, 1px;

    border-style: solid;

    border-color: #E5E7EB; */
}
.product-card:nth-child(1){
    border-top-left-radius: 6px;
}
.product-card:nth-child(1),
.product-card:nth-child(6),
.product-card:nth-child(11),
.product-card:nth-child(16){
    border-left: none;
}
.product-card div.pct{
    display: flex;
    justify-content: center;
    gap: 94px;
    align-items: center;
    position: relative;
    bottom: 164px;
}
.product-card div.pct span{
    width: 38.3px;
    height: 24px;
    padding: 6px 9.68px 6px 8px;
    border-radius: 40px 40px 40px 40px;
    background-color: #DC2626;
    font-family: "Inter 18pt";
    font-weight: 700;
    font-size: 10px;
    color: #FEF2F2;
    position: relative;
    right: 10px;
}
.product-card div.pct a{
    display: flex;
    align-items: center;
}
.product-card div.pct img.heart{
    height: 18px;
    width: 16px;
    position: relative;
}
.product-card a.color{
    width: 24px;
    height: 14px;
    padding: 4px 5px 4px 5px;
    border-radius: 30px;
    background-color: #0000001A;
    justify-content: right;
    display: flex;
    gap: 4px;
    left: 144px;
    bottom: 52px;
    position: relative;
}
.product-card a.color-1{
    width: 32px;
    height: 14px;
    padding: 4px 5px 4px 5px;
    border-radius: 30px;
    background-color: #0000001A;
    justify-content: right;
    display: flex;
    gap: 4px;
    left: 136px;
    bottom: 52px;
    position: relative;
}
.product-card a.color-2{
    width: 32px;
    height: 14px;
    padding: 4px 5px 4px 5px;
    border-radius: 30px;
    background-color: #0000001A;
    justify-content: right;
    display: flex;
    gap: 4px;
    left: 136px;
    bottom: 76px;
    position: relative;
}
.product-card a.color-3{
    width: 40px;
    height: 14px;
    padding: 4px 5px 4px 5px;
    border-radius: 30px;
    background-color: #0000001A;
    justify-content: right;
    display: flex;
    gap: 4px;
    left: 128px;
    bottom: 52px;
    position: relative;
}
.product-card a.color-1 .orange,
.product-card a.color-2 .orange,
.product-card a.color-3 .orange,
.product-card a.color .orange{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #FACC15;
}
.product-card a.color-1 .white,
.product-card a.color-2 .white,
.product-card a.color-3 .white,
.product-card a.color .white{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #FFFFFF;
}
.product-card .content{
    position: relative;
    left: 10px;
}
.product-card .content-1{
    position: relative;
    left: 10px;
    bottom: 10px;
}
.product-card .content-2{
    position: relative;
    left: 10px;
    top: 15px;
}
.product-card .content-3{
    position: relative;
    left: 10px;
    bottom: 22px;
}
.product-card .veg {
    width: 152px;
    height: 152px;
    margin-bottom: 10px;
    position: relative;
    left: 18px;
    top: 3px;
}
.product-card h3.p-name {
    font-size: 13px;
    font-weight: 500;
    font-family: "Inter 18pt";
    color: #030712;
    position: relative;
    bottom: 28px;
    max-width: 150px;
}
.product-card h3.p-name-1 {
    font-size: 13px;
    font-weight: 500;
    font-family: "Inter 18pt";
    color: #030712;
    position: relative;
    bottom: 28px;
    max-width: 170px;
}
.product-card .star{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 20px;
    gap: 4px;
}
.product-card .star h6{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
}
/* Container for the star rating */
.star-rating {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 1;
}

.star-rating::before {
    content: '★★★★★';
    color: #D1D5DB;
    letter-spacing: 0px;
    display: block;
}

.filled-stars {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.filled-stars::before {
    content: '★★★★★';
    color: #FACC15;
    letter-spacing: 0px;
    display: block;
    border-radius: 4px;
}
.product-card .price{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    bottom: 10px;
}
.product-card .price h3{
    font-family: "Barlow";
    font-size: 22px;
    font-weight: 700;
    color: #DC2626;
}
.product-card .price h4{
    font-family: "Barlow";
    font-size: 16.1px;
    font-weight: 500;
    text-decoration-line: line-through;
    color: #111827;
}
.product-card .stock{
    display: flex;
    align-items: center;
    gap: 18px;
}
.product-card .stock .cart{
    width: 36px;
    height: 34px;
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    background-color: #16A34A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card .stock h4{
    font-family: "Inter 18pt";
    font-size: 11px;
    font-weight: 700;
    color: #16A34A;
}
.product-card .organic{
    display: flex;
    position: relative;
    width: 80.19px;
    height: 24px;
    left: 10px;
    bottom: 48px;
    padding: 5px 9.66px 5px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 40px 40px 40px 40px;
    background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 50%);
}
.product-card .organic-1{
    display: flex;
    position: relative;
    width: 80.19px;
    height: 24px;
    left: 10px;
    bottom: 44px;
    padding: 5px 9.66px 5px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 40px 40px 40px 40px;
    background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 50%);
}

.product-card .organic img{
    height: 11px;
    width: 13px;
}
.product-card .organic h3.org{
    font-family: "Inter 18pt";
    font-size: 10px;
    font-weight: 800;
    color: #166534;
}
.product-card .organic-1 img{
    height: 11px;
    width: 13px;
}
.product-card .organic-1 h3.org{
    font-family: "Inter 18pt";
    font-size: 10px;
    font-weight: 800;
    color: #166534;
}
.product-card p {
    font-size: 14px;
    color: #888;
}


footer{
    width: auto;
    height: 699px;
    background-color: #F3F4F6;
    padding: 52px 0 52px 0;
    position: relative;
    top: 78px;
}
footer .wrapper .f-top{
    display: flex;
    justify-content: space-between;
    padding: 0 0 52px 0;
}
footer .wrapper .f-top div h4{
    font-family: "Inter 18pt";
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    letter-spacing: -0.4px;
}
footer .wrapper .f-top div .f-top-p1{
    font-family: "Inter 18pt";
    font-size: 13px;
    font-weight: 400;
    max-width: 333px;
    color: #6B7280;
    top: 8px;
    position: relative;
}
footer .wrapper .f-top div form{
    display: flex;
    width: 418px;
    position: relative;
    align-items: center;
}
footer .wrapper .f-top div form img{
    position: relative;
    left: 32px;
    margin-left: -18px;
}
footer .wrapper .f-top div form input{
    width: 418px;
    height: 48px;
    padding: 15.5px 18px 15.5px 40px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px #0000000C;
    background-color: #FFFFFF;
}
footer .wrapper .f-top div form a{
    width: 73.11px;
    height: 48px;
    padding: 16px 17.69px 17px 18px;
    border-radius: 0px 8px 8px 0px;
    background-color: #634C9F;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    position: relative;
    
}
footer .wrapper .f-top div p{
    font-family: "Inter 18pt";
    font-size: 11px;
    font-weight: 400;
    color: #6B7280;
    top: 9px;
    position: relative;
    line-height: 16.5px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;

}
footer .wrapper .f-top div p span{
    font-family: "Inter 18pt";
    font-size: 11px;
    font-weight: 500;
    color: #634C9F;
    line-height: 16.5px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
}
footer .wrapper{
    gap: 15px;
}
footer .wrapper .f-centre{
    display: flex;
    padding: 52px 0 52px 0;
    border-top: 1px solid #D1D5DB;
    justify-content: space-between;
}
footer .wrapper .f-centre .centre-2{
    width: 252px;
}
footer .wrapper .f-centre .f-centre-1{
    width: 320px;
    height: 252px;
}
footer .wrapper .f-centre div h5{
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 600;
    color: #111827;
}
footer .wrapper .f-centre .f-centre-1 p{
    font-family: "Inter 18pt";
    font-size: 13px;
    font-weight: 400;
    color: #6B7280;
    position: relative;
    top: 24px;
    max-width: 280px;
}
footer .wrapper .f-centre .f-centre-1 .help1{
    display: flex;
    align-items: center;
    position: relative;
    top: 58px;
    gap: 22px;
}
footer .wrapper .f-centre .f-centre-1 .help2{
    display: flex;
    align-items: center;
    position: relative;
    top: 96px;
    gap: 22px;
}
footer .wrapper .f-centre .f-centre-1 div img{
    width: 28px;
    height: 28px;
}
footer .wrapper .f-centre .f-centre-1 div div h6{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 400;
    opacity: 60%;
    color: #111827;
    margin-bottom: 5px;
}
footer .wrapper .f-centre .f-centre-1 div div h4{
    font-family: "Inter 18pt";
    font-size: 20px;
    font-weight: 700;
    color: #111827;
}

footer .wrapper .f-centre div ul{
    top: 22px;
    position: relative;
}
footer .wrapper .f-centre div ul li{
    margin-bottom: 5px;
}
footer .wrapper .f-centre div ul li a{
    font-family: "Inter 18pt";
    font-size: 13px;
    font-weight: 400;
    color: #4B5563;
}
footer .wrapper .f-centre .centre-2 .app1{
    position: relative;
    top: 27px;
}
footer .wrapper .f-centre .centre-2 .app1 div{
    display: flex;
    gap: 14px;
    align-items: center;
}
footer .wrapper .f-centre .centre-2 .app1 div h6{
    font-family: "Inter 18pt";
    font-size: 10px;
    font-weight: 500;
    color: #6B7280;
    max-width: 100px;
}
footer .wrapper .f-centre .centre-2 .app1 div:first-child{
    margin-bottom: 5px;
}
footer .wrapper .f-centre .centre-2 .app2{
    position: relative;
    top: 75px;
}
footer .wrapper .f-centre .centre-2 .app2 div{
    display: flex;
    gap: 5px;
    margin-top: 12px;
}
footer .wrapper .f-centre .centre-2 .app2 div a{
    width: 36px;
    height: 36px;
    padding: 10.5px;
    border-radius: 6px;
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
}


footer .wrapper .f-bottom{
    padding: 52px 0 52px 0;
    border-top: 1px solid #D1D5DB;
}
footer .wrapper .f-bottom .bottom-1{
    display: flex;
    justify-content: space-between;
}
footer .wrapper .f-bottom .bottom-1 div{
    gap: 10px;
    display: flex;
}
footer .wrapper .f-bottom .bottom-1 div h6{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 500;
    color: #6B7280;
}
footer .wrapper .f-bottom .bottom-1 div h6 span{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 600;
    color: #634C9F;
}
footer .wrapper .f-bottom .bottom-1 div a span{
    font-family: "Inter 18pt";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #111827;
}
footer .wrapper .f-bottom .bottom-2{
    top: 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 13px;
}
footer .wrapper .f-bottom .bottom-2 a{
    align-items: center;
    display: flex;
    justify-content: center;
}




@media(max-width: 1400px) {
    #head3 .wrapper header item a h5{
        color: #030712;
        font-size: 15px;
        font-weight: 600;
        font-family: "Inter 18pt";
    }
    .wrapper{
        width: 100%;
        margin: 0 auto;
        max-width: 1225px;
    }
    #notification{
        width: 1425px;
    }
    .notify{
        gap: 160px;
    }
    #head{
        width: 1425px;
    }
    #head2{
        width: 1425px;
    }
    #head2 .logo{
        width: 122px;
        height: 28px;
    }
    #head2 .wrapper header div a .dt{
        width: 54px;
    }
    #head2 .wrapper header .hd2-div4 form input{
        width: 750px;
    }
    #head3{
        width: 1425px;
    }

    #main{
        width: 1425px;
    }
    #main .wrapper .centre .main-top{
        width: 242px;
    }
    /* #main .wrapper .centre{
        gap: 8px;
    } */
    #main .wrapper .centre .main-centre,
    #main .wrapper .centre .main-centre1,
    #main .wrapper .centre .main-centre2,
    #main .wrapper .centre .main-centre3{
        width: 242px;
    }
    #main .wrapper .centre .main-top .price-range div input{
        width: 108px;
    }
    .main2{
        padding: 28px 0px 6px 0px;
    }
    .main2 .banner{
        width: 918px;
    }
    .main2 .banner div h2{
        max-width: 385px;
        width: 392px;
    }
    .result{
        width: 918px;
    }
    .product-list{
        width: 918px;
    }
    .product-card{
        width: 183px;
    }

    footer{
        width: 1425px;
    }
}


@media(max-width: 1280px) {

}

@media(max-width: 1180px) {

}

@media(max-width: 1080px) {

}

@media(max-width: 1024px) {

}

@media(max-width: 980px) {

}

@media(max-width: 768px) {

}

@media(max-width: 480px) {
    .wrapper{
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
    }
    #notification .notify{
        left: 246px;
        position: absolute;
    }
    #notification .notify h6{
        white-space: nowrap;
    }
    #notification .notify span{
        display: none;
    }
    #head .wrapper header nav.hd-nav{
        display: none;
    }
    #head .wrapper header div.hd-div{
        position: relative;
        left: 236px;
    }
    #head2 .wrapper header{
        display: flex;
        justify-content: center;
        gap: 64px;
    }
    #head2 .wrapper header .hd2-div2{
        position: relative;
        right: 36px;
    }
    #head2 .wrapper header .hd2-div3{
        position: relative;
        right: 72px;
    }
    #head2 .wrapper header .hd2-div4 form{
        position: relative;
        right: 52px;
    }
    #head2 .wrapper header .hd2-div4 form input{
        display: none;
        width: 640px;
        position: absolute;
        top: 50px;
        z-index: 1;
        right: -304px;
    }
    #head2 .wrapper header .hd2-div4 form div{
        position: relative;
        left: 106px;
    }
    #head3 .wrapper header div{
        position: relative;
        left: 235px;
        bottom: 10px;
    }
    #head3 .wrapper header nav{
        display: none;
    }
    #main .wrapper div.none{
        display: block;
        position: relative;
        /* left: 46px; */
    }
    #main .wrapper .gateway{
        display: none;
    }
    #main .wrapper .centre section.main1{
        display: none;
        position: fixed;
        top: 312px;
        left: 157px;
        /* right: 36px; */
        /* gap: 28px; */
        background: rgb(255, 255, 255);
        height: 952px;
        width: 280px;
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
        border-radius: 9px;
        /* transition: left 0.5s linear; */
        z-index: 10;
        border: 1px solid #E5E7EB;
    }
    #main .wrapper .centre section.main1.active{
        display: block;
    }
    #main .wrapper .centre .main-top{
        position: relative;
        left: 18px;
        top: 16px;
    }
    #main .wrapper .centre .main-centre{
        position: relative;
        left: 18px;
        top: 16px;
    }
    #main .wrapper .centre .main-centre1{
        position: relative;
        left: 18px;
        top: 16px;
    }
    #main .wrapper .centre .main-centre2{
        position: relative;
        left: 18px;
        top: 16px;
    }
    #main .wrapper .centre .main-centre3{
        position: relative;
        left: 18px;
        top: 16px;
    }


    #main .wrapper div.menu-icon {
        display: flex;
        position: relative;
        left: 44px;
        top: 14px;
        height: 38px;
        width: 69px;
        border-radius: 8px;
        background-color: #E5E7EB;
        align-items: center;
        justify-content: center;
    }
    #main .wrapper .none .checking{
        display: none;
    }
    .main2 .select{
        display: none;
    }
    .main2 .banner{
        width: 1110px;
        height: 320px;
        align-items: center;
        display: flex;
    }
    .main2 .banner div{
        bottom: 15px;
    }
    .main2 .banner div span{
        width: 108px;
        height: 34px;
    }
    .main2 .banner div span h6{
        font-size: 12px;
    }
    .main2 .banner div h2{
        font-size: 36px;
        white-space: nowrap;
    }
    .main2 .banner div p{
        font-size: 15px;
    }
    .main2 .banner div a{
        width: 112px;
        height: 38px;
    }
    .result{
        width: 1110px;
    }
    .product-list{
        width: 1110px;
    }
    .product-card{
        width: 221px;
    }
    .product-card .veg{
        position: relative;
        left: 30px;
    }
    .product-card div.pct{
        position: relative;
        left: 8px;
        gap: 105px;
    }
    .product-card a.color{
        position: relative;
        left: 168px;
    }
    .product-card .content{
        position: relative;    
        left: 22px;
    }

    
}

@media(max-width: 420px) {

}

@media(max-width: 320px) {

}




