* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.3em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width:1400px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

/* BARLOW FONTS */

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Black.woff2') format('woff2'),
        url('../fonts/Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
        url('../fonts/Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-BlackItalic.woff2') format('woff2'),
        url('../fonts/Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-BoldItalic.woff2') format('woff2'),
        url('../fonts/Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Italic.woff2') format('woff2'),
        url('../fonts/Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraBold.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-LightItalic.woff2') format('woff2'),
        url('../fonts/Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-MediumItalic.woff2') format('woff2'),
        url('../fonts/Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
        url('../fonts/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
        url('../fonts/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraLight.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Barlow-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Light.woff2') format('woff2'),
        url('../fonts/Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Thin.woff2') format('woff2'),
        url('../fonts/Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-ThinItalic.woff2') format('woff2'),
        url('../fonts/Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* INTER FONTS */

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Italic.woff2') format('woff2'),
        url('../fonts/Inter28pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Italic.woff2') format('woff2'),
        url('../fonts/Inter18pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Italic.woff2') format('woff2'),
        url('../fonts/Inter24pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Black.woff2') format('woff2'),
        url('../fonts/Inter18pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Light.woff2') format('woff2'),
        url('../fonts/Inter18pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Black.woff2') format('woff2'),
        url('../fonts/Inter24pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter24pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Light.woff2') format('woff2'),
        url('../fonts/Inter24pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter24pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Black.woff2') format('woff2'),
        url('../fonts/Inter28pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Light.woff2') format('woff2'),
        url('../fonts/Inter28pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter28pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter28pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter28pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter18pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



#notification{
    background: #634C9F;
    height: 41px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification .notify{
    display: flex;
    gap: 172px;
    align-items: center;
}
#notification .notify span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#notification .notify span div{
    display: flex;
    align-items: center;
    gap: 8%;
}
#notification .notify h6.h6{
    font-size: 12px;
    font-weight: 600;
    font-family: "Inter 28pt";
    color: #FFFFFF;
}
#notification .notify span h6.one{
    font-size: 12px;
    font-family: "Inter 18pt";
    color: #FFFFFF;
    opacity: 70%;
}
#notification .notify span div h5{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    font-family: "Inter 18pt";
}
#notification .notify span div h6{
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    opacity: 70%;
    font-family: "Inter 18pt";
}

#head{
    height: 41px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E7EB;
}
#head .wrapper{

}
#head .wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head .wrapper header div{
    display: flex;
    gap: 20px;
}
#head .wrapper header nav{

}
#head .wrapper header div{
    
}
#head .wrapper header div div{
    position: relative;
    border-left: 1px solid #E5E7EB;
}
#head .wrapper header div div h5{
    padding-left: 20px;
    color: #6B7280;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter 18pt";
}
#head .wrapper header div div h5 span{
    color: #EA580C;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter 18pt";
}
#head .wrapper header item{
    display: flex;
    gap: 14px;
}
#head .wrapper header item a{
    display: flex;
    justify-content: space-between;
}
#head .wrapper header item a h5{
    color: #6B7280;
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter 18pt";
}
#head .wrapper header nav item a{
    gap: 5px;
}
#head .wrapper header nav item a i{
    color: #6B7280;
    top: 8px;
    position: relative;
}

#head2{
    height: 81px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E7EB;
}
#head2 .wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head2 .wrapper header div a .dt{
    font-size: 11px;
    font-weight: 400;
    font-family: "Inter 18pt";
    color: #030712;
    opacity: 70%;
}
#head2 .wrapper header div a .all{
    font-size: 13px;
    font-weight: 500;
    font-family: "Inter 18pt";
    color: #030712;
}
#head2 .wrapper header .hd2-div4 form{
    display: flex;
    align-items: center;
}
#head2 .wrapper header .hd2-div4 form input{
    background-color: #F3F4F6;
    height: 45px;
    width: 863px;
    padding: 8px 54px 8px 17px;
    border-radius: 8px;
}
#head2 .wrapper header .hd2-div4 form a{
    align-items: center;
    display: flex;
}
#head2 .wrapper header .hd2-div4 form a img{
    position: relative;
    right: 40px;
    margin-right: -22px;
}
#head2 .wrapper header .hd2-div5 {
    display: flex;
    gap: 20px;
    top: 4px;
    position: relative;
}

#head2 .wrapper header .hd2-div5 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#head2 .wrapper header .hd2-div5 a h5 {
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter 18pt";
    color: #030712;
}

#head2 .wrapper header .hd2-div5 a .icon-wrapper {
    position: relative;
}

#head2 .wrapper header .hd2-div5 a .icon-wrapper img {
    width: 19px;
    height: 21px;
}
#head2 .wrapper header .hd2-div5 a:last-child .icon-wrapper img {
    width: 19px;
    height: 21px;
}
#head2 .wrapper header .hd2-div5 a:first-child .icon-wrapper span{
    display: none;
}

#head2 .wrapper header .hd2-div5 a .badge {
    position: absolute;
    top: -5px;     /* Position at the top */
    right: -5px;   /* Position at the right */
    background-color: red;
    color: white;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
}

#head3{
    height: 41px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E5E7EB;
}
#head3 .wrapper header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
#head3 .wrapper header div{
    display: flex;
    gap: 20px;
}
#head3 .wrapper header div nav{
    display: flex;
    position: absolute;
    align-items: center;
}
#head3 .wrapper header item{
    display: flex;
    gap: 14px;
}
#head3 .wrapper header item a{
    display: flex;
    justify-content: space-between;
}
#head3 .wrapper header item a h5{
    color: #030712;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter 18pt";
}
#head3 .wrapper header nav item a{
    gap: 5px;
}
#head3 .wrapper header nav item a i{
    color: #030712;
    top: 8px;
    position: relative;
}
#head3 .wrapper header nav item a h5.red{
    color: #DC2626;
}
#head3 .wrapper header nav item a:last-child i{
    color: #DC2626;
}
#head3 .wrapper header nav item a span{
    width: 37px;
    height: 20px;border-radius: 4px;
    background: linear-gradient(90deg, #DC2626 0%, #EA580C 100%);
    font-size: 10px;
    font-weight: 700;
    font-family: "Inter 18pt";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
#head3 .wrapper header div nav .spcl .nav-link.active{
    border-bottom: 2px solid #634C9F;
    padding-bottom: 12px;
    position: relative;
}
#head3 .wrapper header div nav .spcl a.active h5{
    color: #634C9F;
}
#head3 .wrapper header div nav .spcl a.active i{
    color: #634C9F;
}







